// Colors
$border-color: #ff2200;

// Shadows

// Typography
$wui-font-family: 'sans-serf';
$wui-default-body-size: 16px;
$wui-font-size-xsmall: 0.8rem;
$wui-font-size-small: 1rem;
$wui-font-size-default: 1.25rem;
$wui-font-size-medium: 1.6rem;
$wui-font-size-large: 2.4rem;
$wui-font-size-xlarge: 3rem;
$wui-font-size-xxlarge: 6rem;

// Borders
$wui-border-width: 1px;
$wui-border-style: 'solid';
$wui-border-color: $border-color;
$wui-border-radius-small: 2px;
$wui-border-radius-medium: 4px;
$wui-border-radius-medium: 8px;
$wui-border-radius-circle: 50%;

// Spacing
$wui-spacing-1x: 8px;
$wui-spacing-2x: 16px;
$wui-spacing-3x: 24px;
$wui-spacing-4x: 32px;
$wui-spacing-5x: 40px;
$wui-spacing-6x: 48px;
$wui-spacing-7x: 56px;